@theme {
  /** Layout Dimensions **/
  --max-width-container: 900px;

  /** Button Sizes **/
  --size-button: 3.25rem;
  --width-button: 3.25rem;
  --height-button: 3.25rem;
  --height-input: 2.5rem;
  --height-attribute: 1.5rem;
}

@layer base {
}
